.header {
  width: 100%;

  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: rgb(0, 0, 0);
  font-size: 24 px;
  color: aliceblue;

  /* background-image: url(https://previews.123rf.com/images/nexusplexus/nexusplexus1601/nexusplexus160108777/51422817-cierre-para-arriba-del-ojo-humano-en-el-fondo-de-la-tecnolog%C3%ADa-digital.jpg); */
}
