.footer {
  color: aliceblue;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 1rem;
  padding: 40px;
  background-color: #000;
}
.footer:hover {
  opacity: 70%;
}
